html {
  font-size: 1rem;
}

:root {
  --white: #fff;
  --blue: #42affa;
  --gray: #464547;
  --green: #a3c644;
  --dark-blue: #1a9cb0;
  --raspberry: #b22746;
}

.heighlight-e-green {
  color: var(--green);
}

.heighlight-e-red {
  color: var(--raspberry);
}

.heighlight-e-blue {
  color: var(--blue);
}

.slide-0__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slide-6-grid,
.slide-5-grid,
.slide-4-grid,
.slide-3-grid,
.slide-2-grid,
.slide-1-grid,
.slide-0-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  position: relative;
}

.slide-6-grid .cell,
.slide-5-grid .cell,
.slide-4-grid .cell,
.slide-3-grid .cell,
.slide-2-grid .cell,
.slide-1-grid .cell,
.slide-0-grid .cell {
  min-height: 15vh;
  background-color: rgba(100, 100, 100, 0.2);
}

.slide-0-grid .cell-1 {
  grid-column: 1 / 3;
}

.slide-0-grid .cell-2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.slide-0-grid .cell-3 {
  grid-row: 1 / 3;
  grid-column: 5;
}

.slide-0-grid .cell-9,
.slide-0-grid .cell-10 {
  grid-column: span 2;
}

.slide-0__wrapper {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-0__name {
  color: var(--blue);
  align-self: flex-end;
}

.slide-1__content {
  display: flex;
  align-items: stretch;
}

.slide-1-grid .cell-1,
.slide-1-grid .cell-2,
.slide-1-grid .cell-3,
.slide-1-grid .cell-6,
.slide-1-grid .cell-9,
.slide-1-grid .cell-10,
.slide-1-grid .cell-11 {
  grid-column: span 2;
}

.slide-1__wrapper {
  position: absolute;
  display: flex;
  flex-flow: row;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}


.slide-1__text__wrapper {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  align-self: stretch;
}

.slide-1__picture {
  flex-basis: 25%;
}

.slide-1__picture__wrapper img {
  border: 1px solid transparent;
  border-radius: 5rem;
}

.slide-1__name {
  color: var(--blue);
}

.slide-2-grid .cell-1,
.slide-2-grid .cell-2,
.slide-2-grid .cell-3,
.slide-2-grid .cell-6,
.slide-2-grid .cell-9,
.slide-2-grid .cell-10,
.slide-2-grid .cell-11 {
  grid-column: span 2;
}

.slide-2__wrapper h4{
  text-align: left;
}

.slide-6__wrapper,
.slide-5__wrapper,
.slide-4__wrapper,
.slide-3__wrapper,
.slide-2__wrapper {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 1rem;
  top: 2rem;
  width: 100%;
}

.slide-3-grid .cell-1,
.slide-3-grid .cell-3 {
  grid-row: span 2;
}

.slide-3-grid .cell-2,
.slide-3-grid .cell-8,
.slide-3-grid .cell-9 {
  grid-column: span 2;
}

.svg-image {
  width: 100%;
  max-height: calc(37vh + 2rem);
  margin: auto;
  position: relative;
  top: -2rem;
}

.svg-image .blue-rect {
  stroke: var(--blue);
}

.svg-image .area-rect {
  fill: var(--raspberry);
}

.svg-image line {
  stroke: var(--raspberry);
}


.slide-4-grid .cell-2,
.slide-4-grid .cell-4,
.slide-4-grid .cell-5,
.slide-4-grid .cell-7 {
  grid-row: span 2;
}

.slide-4-grid .cell-1,
.slide-4-grid .cell-3,
.slide-4-grid .cell-9,
.slide-4-grid .cell-10 {
  grid-column: span 2;
}

.slide-5-grid .cell-2 {
  grid-area: 3 / 4 / 2 / 3;
}

.slide-5-grid .cell-9,
.slide-5-grid .cell-3 {
  grid-column: span 3;
}

.slide-5-grid .cell-7 {
  grid-column-start: 4;
}

.slide-5-grid .cell-4,
.slide-5-grid .cell-5 {
  grid-row: span 2;
}

.slide-5-grid .cell-1,
.slide-5-grid .cell-10 {
  grid-column: span 2;
}

.slide-6-grid .cell-2 {
  grid-area: 3 / 5 / 2 / 3;
}

.slide-6-grid .cell-9,
.slide-6-grid .cell-3 {
  grid-column: span 4;
}

.slide-6-grid .cell-7 {
  display: none;
}

.slide-6-grid .cell-1,
.slide-6-grid .cell-10 {
  grid-column: span 2;
}
